body {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    padding: 10px 20px;
  }
  
  #menu {
    display: flex;
  }
  
  .menuItem {
    margin: 0 10px;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .menuItem:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
  }

#fontControls {
    margin-right: 3px;
  }

#fontControls input[type="button"] {
    font-size: 24px;
    padding: 5px 10px; 
    margin:0;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#header input[type="button"]:hover {
    background-color: #ff8c66;
    color: white;
    cursor:pointer;
}


#Prevalence {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px; 
    margin-bottom: 20px; 
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%; 
}

.gif {
    width: 100%; 
    height: auto; 
}

.overlay-text {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.top-right-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.486);
    padding: 20px;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.separator {
    border-top: 2px solid white;
    width: 100%;
}

.smaller-text {
    font-size: 25px;
}

#backToTopButton {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none; 
}

#backToTopButton:hover {
  background-color: #0056b3; 
}


.content-container {
  margin-bottom: 20px; 
  display: flex;
  margin-right: 10px; 
  margin-left: 10px;
}

.content-container img {
  margin-right: 20px; 
  margin-left: 20px;
  display:flex;
  align-items: center;
}

.content-text {
  font-size: 38px; 
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.content-text:hover {
  text-decoration: underline;
  color: blue;
}

.content-data{
  font-size: 28px; 
  font-weight: bold;
  margin-right: 10px; 
  margin-left: 25px;
}

.content-text-container {
  flex-direction:column; 
  margin-left: 20px;
}

.highlightbutton {
  align-items: center;
}

#highlightButton {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 30%; 
  height:auto;
  align-self: center;
}


#Prevalencedata {
  display: none; 
}

.edlers {
  display: none;
}