#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    padding: 10px 20px;
  }
  
  #menu {
    display: flex;
  }
  
  .menuItem {
    margin: 0 10px;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .menuItem:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
  }

#fontControls {
    margin-right: 3px;
  }

#fontControls input[type="button"] {
    font-size: 24px;
    padding: 5px 10px; 
    margin:0;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#header input[type="button"]:hover {
    background-color: #ff8c66;
    color: white;
    cursor:pointer;
}

#ThirdSentenceContainer {
    margin-left: 20px; 
    font-size: 38px;
    font-weight: bold;
}


.big-bold {
    font-size: 24px;
    font-weight: bold;
  }

#contentWrapper {
    margin-left: 20px;
    margin-right: 20px;
    font-size:20px
}

#contentContainer {
    display: flex; 
    align-items: flex-start; 
  }

#contentContainer p {
    margin-left: 20px; 
  }

#SnellenChart {
    width: 50%; 
  }

  #audioButton {
    margin-left: 20px; 
    padding: 20px 40px; 
    font-weight: bold; 
    font-size: 24px;
    background-color: #ff5733;
    color: white;
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
  }

  #audioButton:hover {
    background-color: #ff8c66; 
  }